<div class="page-wrapper">
  <header class="header">
    <div class="logo-container">
      <img src="assets/dhbw360_logo.png" alt="DHBW360 Logo" class="logo-image">
      <span class="logo-text">DHBW360</span>
    </div>

    <button class="info-button">
      <img src="assets/info_icon.png" alt="Informationen" class="info-icon">
      Informationen
    </button>

    <div class="action-area">
      <form (ngSubmit)="startGame()">
        <label for="round-count">Anzahl der Runden: </label>
        <input id="round-count" name="round-count" type="number" min="1" max="10" value="6" [(ngModel)]="roundsToPlay">
        <button type="submit" class="start-button">Spiel starten</button>
      </form>
    </div>
  </header>

  <div class="main-content-wrapper">
    <app-scoreboard></app-scoreboard>
  </div>
</div>
