<div class="scoreboard-container">
  <h1>Top 10 Spieler</h1>

  <div class="top-3-players">
    <div class="player-podium-card rank-2">
      <ng-container
        *ngTemplateOutlet="pedestal_item; context: { rank: 2 }">
      </ng-container>
    </div>
    <div class="player-podium-card rank-1">
      <ng-container
        *ngTemplateOutlet="pedestal_item; context: { rank: 1 }">
      </ng-container>
    </div>
    <div class="player-podium-card rank-3">
      <ng-container
        *ngTemplateOutlet="pedestal_item; context: { rank: 3 }">
      </ng-container>
    </div>

    <ng-template #pedestal_item let-rank="rank">
      @if (!top3[rank-1]) {
        <span class="rank-number">{{ rank }}</span>
        <div class="name">Noch nicht belegt</div>
        <div></div>
      }
      @else {
        <span class="rank-number">{{ rank }}</span>
        <div class="name">{{ top3[rank-1].username }}</div>
        <div>{{ top3[rank-1].score }} Punkte</div>
      }
    </ng-template>
  </div>
  <div class="player-table-container">
    <table class="player-table">
      <thead>
      <tr>
        <th>Rang</th>
        <th>Spieler</th>
        <th>Punkte</th>
      </tr>
      </thead>
      <tbody>
      @for (entry of top4to10; track entry.username; let i = $index) {
        <tr><td>#{{i+4}}</td><td>{{entry.username}}</td><td>{{ entry.score }} Punkte</td></tr>
      }
      </tbody>
    </table>
  </div>
</div>
