name: dhbw360
services:
  frontend:
    build:
      context: ./frontend/
      dockerfile: ./Dockerfile
    ports:
      - 9500:80
    volumes:
      - ./frontend/dist/frontend/browser:/usr/share/nginx/html
    networks:
      - campus-app
      - dhbw360
  game-service:
    build:
      context: ./backend/
      dockerfile: ./game-service/Dockerfile
    ports:
      - 9501:8081
    volumes:
      - ./backend/game-service/dist/:/dhbw360/app/dist
      - ./backend/game-service/.env:/dhbw360/app/.env
    networks:
      - campus-app
      - dhbw360
  score-service:
    build:
      context: ./backend/
      dockerfile: ./score-service/Dockerfile
    ports:
      - 9502:8082
    volumes:
      - ./backend/score-service/dist/:/dhbw360/app/dist
      - ./backend/score-service/.env:/dhbw360/app/.env
    networks:
      - campus-app
      - dhbw360
networks:
  dhbw360:
  campus-app:
    external: true